
@{
    ViewData["Title"] = "InternalServerError";
    Layout = "~/Views/Shared/_ErrorPageLayout.cshtml";
}





<html lang="en">

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">


    <div class=" ">

        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" style="min-height: 1434px;">


                <!-- END PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12 page-500" style="margin-top:15%">
                        <div class=" number font-red"> 500 </div>
                        <div class=" details">
                            <h3>Oops! Something went wrong.</h3>
                            <p>
                                We are fixing it! Please come back in a while.
                                <br>
                            </p>
                            <p>
                                <a href="~/login" class="btn red btn-outline"> Return login </a>
                                <br>
                            </p>
                        </div>
                    </div>



                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->

    </div>


    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
</body>
</html>

<script type="text/javascript">

        var userIP;

        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });

            setTimeout(function () {
                $(".k-input, input").attr("autocomplete", "nope");
            }, 500);

            addToHomescreen();
            GetClientIPAddress();
        })

        function GetClientIPAddress() {
            $.get("https://ipinfo.io", function (response) {
                userIP = response.ip;
                CheekIfUserIPIsBlocked();
            }, "jsonp");
        }

        function CheekIfUserIPIsBlocked() {
            if (userIP != null) {

                $.ajax({
                    type: "GET",
                    url: "/SignUp/CheekIfUserIPIsBlocked",
                    data: { ip: userIP },
                    success: function (data) {

                        //if (data.result == true) {
                        //    if (data.RedirectUrl != null && data.RedirectUrl != "") {
                        //        window.location.href = data.RedirectUrl;
                        //    }
                        //    else { window.location.href = 'https://www.google.com/'; }

                        //}
                    },
                    error: function (e) {
                        //alert("failed");
                    }
                });
            }

        }

</script>