<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=PARON-4-PC;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Initial Catalog=RAMSV23;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-L6OPAJT;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Initial Catalog=RAMSV23;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=162.222.225.88;Integrated Security=False;User ID=undbu;Password=Ikxb0^56;Initial Catalog=unityq92_fisher;Connect Timeout=30;Encrypt=False;Packet Size=4096" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=sql5042.site4now.net;Integrated Security=False;Initial Catalog=DB_A4A288_ajantasoft;User Id=DB_A4A288_ajantasoft_admin;Password=Ajanta@Love2019;Connect Timeout=300;Encrypt=False;" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-TVS9N7O\SQLEXPRESS;Initial Catalog=DB_A452AF_chabagan;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <httpRuntime targetFramework="4.6.2" maxRequestLength="2147483647" executionTimeout="300000"/>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
