.pass-graybar {
    height: 0px;
    background-color: #fff;
    width: 100%;
    /*position: relative;*/
}

.pass-colorbar {
    height: 20px;
    background-image: url(passwordstrength.jpg);
    position: absolute;
    top: 0;
    left: 0;
}

.pass-percent, .pass-text {
    font-size: 1em;
}

.pass-percent {
    margin-right: 10px;
}
