
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-title wow fadeInUp animated">
            <div class="hidden-xs-title">
                <span class="ln-bangla">আবর্জনার তালিকা</span>
            </div>
        </div>

        <div class="page-bar wow fadeInUp animated">
            <ul class="page-breadcrumb">
                <li> <em class="icon-home"></em> <a href="~/Dashboard"><span class="ln-bangla">প্রথম পাতা</span></a> <em class="fa fa-angle-right"></em> </li>
                <li>
                    <span><span class="ln-bangla">আবর্জনা</span></span>
                </li>
            </ul>

        </div>
        <!-- END PAGE HEADER-->
        <div class="page-bar wow fadeInUp animated" style="padding-top: 3px; padding-bottom: 5px;">
            <div class="col-sm-12 search-responsive" style="padding-left: 8px; padding-top: 2px;">
                <div class="input-group" style="width: 100%">
                    <div class="form-group col-sm-3 col-md-2 col-sm-2 xs-nopadding-left">
                        <label class="control-label col-md-12 no-padding" style="margin-bottom: 0 !important;line-height: 16px;" >
                           &nbsp;
                        </label>
                        <input type="checkbox" class="checkbox" id="chkSearchSwitch"/>
                    </div>
                    <div class="form-group col-sm-4 col-md-3 xs-nopadding-left">
                        <label class="control-label col-md-12 no-padding">
                            <span class="ln-bangla">নির্বাচন করুন </span> <span class="required" aria-required="true"> * </span>
                        </label>
                        @(Html.Kendo().ComboBox()
                        .Name("tableNameList")
                        .Filter(FilterType.Contains)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(new List<SelectListItem>() {
                            new SelectListItem() {
                                Text = "মাছ", Value = "1"
                            },
                            new SelectListItem() {
                                Text = "খাদ্য", Value = "2"
                            },
                            new SelectListItem() {
                                Text = "খাদ্যের ধরণ", Value = "3"
                            },
                            new SelectListItem() {
                                Text = "এলাকা/প্রকল্প", Value = "4"
                            },
                            new SelectListItem() {
                                Text = "প্রকল্প", Value = "5"
                            },
                            new SelectListItem() {
                                Text = "মাছ বিক্রেতা", Value = "6"
                            },
                            new SelectListItem() {
                                Text = "খরচ", Value = "7"
                            }

                        })
                        .Suggest(true)
                        .HtmlAttributes(new { style = "width: 100%;", id = "txtCmbTableNameList" })
                        )
                    </div>
                    <div class="form-group col-sm-3 col-md-2 xs-nopadding-left wow fadeInUp animated">
                        <label class="control-label col-md-12 no-padding">
                            &nbsp;
                        </label>
                        <div class="ln-bangla pull-left mr-5">
                            <input type="button" value="খুঁজুন" id="btnFindFishBn" class="btn btn-outline green custom-btn-green" onclick="SearchTrashDataReport();" />
                        </div>
                        <div class="ln-bangla pull-left">
                            <input type="button" value="পুন:স্থাপন" id="btnResetFishSearchBn" class="btn btn-outline green custom-btn-green" onclick="ResetFishSellingSearch();" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet box green">
            <div class="portlet-title wow fadeInUp animated">
                <div class="caption">
                    <span class="ln-bangla">আবর্জনা তথ্য তালিকা</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll wow fadeInUp animated">
                <div id="divDataGrid" style="height: 550px;"></div>
            </div>
        </div>


    </div>
</div>

<div id="divDeleteModelApper" class="kendo-warning-popup">
    <p>আপনি কি নিশ্চিত এই তথ্যটি পুনরুদ্ধার করবেন? আপনি তথ্যটি পুনরুদ্ধার করলে তা যুক্ত করুন অংশে দেখতে পারবেন। আপনার সিদ্ধান্ত নিশ্চিত করুন। </p>
    <button type="button" class="btn btn-danger pull-right" onclick="DoDeleteYesComand();">নিশ্চিত</button>
    <button class="btn btn green pull-left" onclick="ClosenNotificationWindowFromButton();">না</button>
</div>


<script type="text/javascript">
    var tableNameListComboBox;
    var tableID;
    var isAllData;
    var tableNameId;
    var tableColumnId;
    $(document).ready(function () {
        $("#listLinkTrashData").addClass("active");

        tableNameListComboBox = $("#txtCmbTableNameList").data("kendoComboBox");
        tableNameListComboBox.enable(false);
        $("#chkSearchSwitch").bootstrapSwitch({
            size: null,
            offText: "সম্পূর্ণ",
            onText: "আংশিক",
            offColor: "primary",
            onColor: "default",
            onSwitchChange: OnChangeSearchSwitch
        });


        SearchTrashDataReport();
    });


    function OnChangeSearchSwitch() {
        if ($("#chkSearchSwitch").is(':checked')) {
            tableNameListComboBox.enable();
        } else {
            tableNameListComboBox.value("");
            tableNameListComboBox.enable(false);
            
        }
    }


    function SearchTrashDataReport() {
       
        isAllData = 0;
        if ($("#chkSearchSwitch").is(':checked')) {
            isAllData = 1;
        }

        if (tableNameListComboBox) {
            tableID = tableNameListComboBox.value();
        }

        if (tableID == "") {
            tableID = 0;
        }


        $.get("/TrashData/GetAllTrashDataSearchResult", { tableID: tableID, isAllData: isAllData}, function (data) {
          
            var dataSourceGrid = new kendo.data.DataSource({
                data: data.Data,
                schema: {
                    model:
                  {
                      id: "RowId"

                  }
                },
                pageSize: 5
            });

            $("#divDataGrid").empty();
            var existingGrid = $('#divDataGrid').data('kendoGrid');
            if (typeof existingGrid !== "undefined") {
                existingGrid.destroy();
            }

            $("#divDataGrid").kendoGrid({
                dataSource: dataSourceGrid,
                height: 550,
                reorderable: true,
                resizable: true,
                filterable: true,
                columnMenu: true,
                sortable: true,
                scrollable: {
                    virtual: true
                },
                selectable: "multiple cell",
                allowCopy: true,
                pageable: {
                    refresh: true,
                    numeric: true,
                    previousNext: true
                },
                columns: [
                {
                    field: "ImageUrl",
                    title: "ছবি",
                    template: "<img src='" + domainURL + "/#: ImageUrl #' class='grid-photo'/>"
                },
                 {
                     field: "ID",
                     title: "ID",
                 },
                 {
                     field: "Name",
                     title: "নাম",
                 },
                 {
                     field: "TableID",
                     title: "তথ্য",
                     template: "#if(TableID == 1){# মাছ #}# #if(TableID == 2){# খাদ্য #}# #if(TableID == 3){# খাদ্যের ধরণ #}# #if(TableID == 4){# এলাকা/প্রকল্প #}# #if(TableID == 5){# প্রকল্প #}# #if(TableID == 6){# মাছ বিক্রেতা #}#"
                 },
                 {
                     field: "CreatedDate",
                     title: "সংযোজনের তারিখ",
                     template: "#: CreatedDate #"
                 },
                 {
                     template: '<a class="k-button k-button-icontext review-button" onclick="DoRestoreThisId(#=TableID#, #=ID#);">পুনরুদ্ধার করুন</a>'
                 }

                ],
                selectable: true

            });

            $("#divDataGrid .k-pager-refresh.k-link").click();
        });
    }


    function DoDeleteYesComand() {

        $.get("/TrashData/RestoreTrashDataById", { tableNameId: tableNameId, tableColumnId: tableColumnId }, function (data) {
            result = data;
            ClosenNotificationWindowFromButton();

            if (result > 0) {
                setTimeout(function () {
                    ShowAjaxNotificationMessage("সফল", "এই তথ্যটি পুনরুদ্ধার করা হয়েছে। ", "success");
                }, 500);

            } else {
                setTimeout(function () {
                    ShowAjaxNotificationMessage("দুঃখিত", "দুঃখিত, কিছু সমস্যা আছে।", "warning");
                }, 500);
            }
            SearchTrashDataReport();

            $(".k-icon.k-i-refresh").click();
        });

    }

    function DoRestoreThisId(tId, rId) {
        tableNameId = tId;
        tableColumnId = rId;
        var myWindow = $("#divDeleteModelApper"), undo = $("#undo");

        undo.click(function () {
            myWindow.data("kendoWindow").open();
            undo.fadeOut();
        });

        myWindow.kendoWindow({
            width: "500px",
            title: "নিশ্চিত করুন",
            visible: false,
            open: onOpenNotificationWindow,
            close: onClosenNotificationWindow,
            deactivate: onClosenNotificationWindow,
            actions: [
                "Close"
            ]
        }).data("kendoWindow").center().open();

        $("html").css("overflow-y", "scroll");
    }


    function ResetFishSellingSearch() {
        $("#chkSearchSwitch").bootstrapSwitch('state', true);
        tableNameListComboBox.value("");
        tableNameListComboBox.enable(false);
        SearchTrashDataReport();
    }



</script>